<div class="col link-color group-{{ group_id }}">
  <p class="mx-auto d-block">Link: {{ link_text }}</p>
  <img class="img-fluid mx-auto d-block" src="/img/week{{ week_id }}/{{ q_order }}.jpg" alt="" data-id="{{ q_order }}" data-ct="{{{ clarification_text }}}" data-at="{{{ answer_text }}}" data-lt="{{{ link_text }}}">
  <p class="mx-auto d-block">A{{ q_order }}. {{{ answer_text }}}</p>
</div>