<div class="col">
  <img  class="img-fluid mx-auto d-block" 
        src="/img/week{{ week_id }}/{{ q_order }}.jpg" 
        alt="" data-id="{{ q_order }}" 
        title="click to enlarge" 
        data-ct="{{{ clarification_text }}}">
  <span class="caption">Q{{ q_order }}<br><em>{{{ clarification_text }}}</em></span>
</div>